.theme_customTheme__1dv7j0n0 {
  --space-0__1ngcs9h1: 0px;
  --space-1__1ngcs9h2: 4px;
  --space-2__1ngcs9h3: 8px;
  --space-3__1ngcs9h4: 12px;
  --space-4__1ngcs9h5: 16px;
  --space-5__1ngcs9h6: 20px;
  --space-6__1ngcs9h7: 24px;
  --space-7__1ngcs9h8: 28px;
  --space-8__1ngcs9h9: 32px;
  --space-9__1ngcs9ha: 36px;
  --space-10__1ngcs9hb: 40px;
  --fontSizes-0__1ngcs9hc: 16px;
  --fontSizes-1__1ngcs9hd: 20px;
  --fontSizes-2__1ngcs9he: 25px;
  --fontSizes-3__1ngcs9hf: 31.25px;
  --fontSizes-4__1ngcs9hg: 39.0625px;
  --fontSizes-h1__1ngcs9hh: 39.0625px;
  --fontSizes-h2__1ngcs9hi: 31.25px;
  --fontSizes-h3__1ngcs9hj: 25px;
  --fontSizes-h4__1ngcs9hk: 20px;
  --fontSizes-h5__1ngcs9hl: 16px;
  --fontSizes-h6__1ngcs9hm: 16px;
  --fonts-base__1ngcs9hn: "comic sans ms";
  --fonts-serif__1ngcs9ho: "Times New Roman", serif;
  --fonts-monospace__1ngcs9hp: monospace;
  --fontWeights-base__1ngcs9hq: 500;
  --fontWeights-bold__1ngcs9hr: 700;
  --sizes-content__1ngcs9hs: 60em;
  --radii-small__1ngcs9ht: 4px;
  --radii-medium__1ngcs9hu: 1rem;
  --radii-rounded__1ngcs9hv: 50%;
  --zIndices-low__1ngcs9hw: 1;
  --zIndices-medium__1ngcs9hx: 5;
  --zIndices-high__1ngcs9hy: 10;
  --zIndices-extraHigh__1ngcs9hz: 20;
  --zIndices-top__1ngcs9h10: 50;
  --breakpoints-small__1ngcs9h11: 20em;
  --breakpoints-medium__1ngcs9h12: 40em;
  --breakpoints-large__1ngcs9h13: 60em;
  --breakpoints-extraLarge__1ngcs9h14: 80em;
  --colors-black__1ngcs9h15: #374047;
  --colors-gray000__1ngcs9h16: #f8f9f9;
  --colors-gray100__1ngcs9h17: #ebedee;
  --colors-gray200__1ngcs9h18: #dee1e3;
  --colors-gray300__1ngcs9h19: #cfd3d6;
  --colors-gray400__1ngcs9h1a: #bec4c8;
  --colors-gray500__1ngcs9h1b: #acb4b9;
  --colors-gray600__1ngcs9h1c: #97a1a7;
  --colors-gray700__1ngcs9h1d: #7f8a93;
  --colors-gray800__1ngcs9h1e: #5f6e78;
  --colors-gray900__1ngcs9h1f: #374047;
  --colors-blue000__1ngcs9h1g: #e4f0f9;
  --colors-blue100__1ngcs9h1h: #c6e1f3;
  --colors-blue200__1ngcs9h1i: #a5cfed;
  --colors-blue300__1ngcs9h1j: #7db9e5;
  --colors-blue400__1ngcs9h1k: #4a9eda;
  --colors-blue500__1ngcs9h1l: #0077cc;
  --colors-blue600__1ngcs9h1m: #006bb7;
  --colors-blue700__1ngcs9h1n: #005da0;
  --colors-blue800__1ngcs9h1o: #004d84;
  --colors-blue900__1ngcs9h1p: #00365d;
  --colors-indigo000__1ngcs9h1q: #eaebfa;
  --colors-indigo100__1ngcs9h1r: #d2d5f6;
  --colors-indigo200__1ngcs9h1s: #b7bbf0;
  --colors-indigo300__1ngcs9h1t: #959ce9;
  --colors-indigo400__1ngcs9h1u: #6872e0;
  --colors-indigo500__1ngcs9h1v: #0011cc;
  --colors-indigo600__1ngcs9h1w: #000fb7;
  --colors-indigo700__1ngcs9h1x: #000da0;
  --colors-indigo800__1ngcs9h1y: #000a83;
  --colors-indigo900__1ngcs9h1z: #00075c;
  --colors-violet000__1ngcs9h20: #f0e9fa;
  --colors-violet100__1ngcs9h21: #e1d2f6;
  --colors-violet200__1ngcs9h22: #ceb6f0;
  --colors-violet300__1ngcs9h23: #b894e9;
  --colors-violet400__1ngcs9h24: #9966e0;
  --colors-violet500__1ngcs9h25: #5500cc;
  --colors-violet600__1ngcs9h26: #4c00b8;
  --colors-violet700__1ngcs9h27: #4300a1;
  --colors-violet800__1ngcs9h28: #370084;
  --colors-violet900__1ngcs9h29: #27005e;
  --colors-fuschia000__1ngcs9h2a: #f9e9fa;
  --colors-fuschia100__1ngcs9h2b: #f2d1f5;
  --colors-fuschia200__1ngcs9h2c: #ebb5f0;
  --colors-fuschia300__1ngcs9h2d: #e293e9;
  --colors-fuschia400__1ngcs9h2e: #d665e0;
  --colors-fuschia500__1ngcs9h2f: #bb00cc;
  --colors-fuschia600__1ngcs9h2g: #a900b8;
  --colors-fuschia700__1ngcs9h2h: #9400a2;
  --colors-fuschia800__1ngcs9h2i: #7b0086;
  --colors-fuschia900__1ngcs9h2j: #580061;
  --colors-pink000__1ngcs9h2k: #fae9f3;
  --colors-pink100__1ngcs9h2l: #f5d1e6;
  --colors-pink200__1ngcs9h2m: #f0b6d8;
  --colors-pink300__1ngcs9h2n: #e994c6;
  --colors-pink400__1ngcs9h2o: #e066ad;
  --colors-pink500__1ngcs9h2p: #cc0077;
  --colors-pink600__1ngcs9h2q: #b8006b;
  --colors-pink700__1ngcs9h2r: #a2005e;
  --colors-pink800__1ngcs9h2s: #86004e;
  --colors-pink900__1ngcs9h2t: #610038;
  --colors-red000__1ngcs9h2u: #faeaeb;
  --colors-red100__1ngcs9h2v: #f6d2d5;
  --colors-red200__1ngcs9h2w: #f0b7bc;
  --colors-red300__1ngcs9h2x: #ea969d;
  --colors-red400__1ngcs9h2y: #e16973;
  --colors-red500__1ngcs9h2z: #cc0011;
  --colors-red600__1ngcs9h30: #b8000f;
  --colors-red700__1ngcs9h31: #a2000d;
  --colors-red800__1ngcs9h32: #86000b;
  --colors-red900__1ngcs9h33: #610008;
  --colors-orange000__1ngcs9h34: #f9ede4;
  --colors-orange100__1ngcs9h35: #f3d9c6;
  --colors-orange200__1ngcs9h36: #ecc2a4;
  --colors-orange300__1ngcs9h37: #e4a87c;
  --colors-orange400__1ngcs9h38: #da864a;
  --colors-orange500__1ngcs9h39: #cc5500;
  --colors-orange600__1ngcs9h3a: #b84c00;
  --colors-orange700__1ngcs9h3b: #a04300;
  --colors-orange800__1ngcs9h3c: #843700;
  --colors-orange900__1ngcs9h3d: #5e2700;
  --colors-yellow000__1ngcs9h3e: #f8f6de;
  --colors-yellow100__1ngcs9h3f: #f1ecba;
  --colors-yellow200__1ngcs9h3g: #e9e293;
  --colors-yellow300__1ngcs9h3h: #e0d668;
  --colors-yellow400__1ngcs9h3i: #d7c938;
  --colors-yellow500__1ngcs9h3j: #ccbb00;
  --colors-yellow600__1ngcs9h3k: #b8a900;
  --colors-yellow700__1ngcs9h3l: #a29400;
  --colors-yellow800__1ngcs9h3m: #867b00;
  --colors-yellow900__1ngcs9h3n: #615800;
  --colors-lime000__1ngcs9h3o: #eef8df;
  --colors-lime100__1ngcs9h3p: #dcf1bd;
  --colors-lime200__1ngcs9h3q: #c7ea97;
  --colors-lime300__1ngcs9h3r: #b1e16c;
  --colors-lime400__1ngcs9h3s: #96d73b;
  --colors-lime500__1ngcs9h3t: #77cc00;
  --colors-lime600__1ngcs9h3u: #6bb800;
  --colors-lime700__1ngcs9h3v: #5ea200;
  --colors-lime800__1ngcs9h3w: #4e8600;
  --colors-lime900__1ngcs9h3x: #386100;
  --colors-green000__1ngcs9h3y: #e5f9e4;
  --colors-green100__1ngcs9h3z: #c9f3c6;
  --colors-green200__1ngcs9h40: #a9eca3;
  --colors-green300__1ngcs9h41: #84e47b;
  --colors-green400__1ngcs9h42: #54da48;
  --colors-green500__1ngcs9h43: #11cc00;
  --colors-green600__1ngcs9h44: #0fb800;
  --colors-green700__1ngcs9h45: #0da200;
  --colors-green800__1ngcs9h46: #0b8600;
  --colors-green900__1ngcs9h47: #086100;
  --colors-teal000__1ngcs9h48: #e3f9ec;
  --colors-teal100__1ngcs9h49: #c5f3d8;
  --colors-teal200__1ngcs9h4a: #a2ecc1;
  --colors-teal300__1ngcs9h4b: #79e4a6;
  --colors-teal400__1ngcs9h4c: #46da84;
  --colors-teal500__1ngcs9h4d: #00cc55;
  --colors-teal600__1ngcs9h4e: #00b84c;
  --colors-teal700__1ngcs9h4f: #00a243;
  --colors-teal800__1ngcs9h4g: #008638;
  --colors-teal900__1ngcs9h4h: #006128;
  --colors-cyan000__1ngcs9h4i: #e3f9f7;
  --colors-cyan100__1ngcs9h4j: #c4f3ef;
  --colors-cyan200__1ngcs9h4k: #a0ece5;
  --colors-cyan300__1ngcs9h4l: #77e3da;
  --colors-cyan400__1ngcs9h4m: #44d9cd;
  --colors-cyan500__1ngcs9h4n: #00ccbb;
  --colors-cyan600__1ngcs9h4o: #00b8a9;
  --colors-cyan700__1ngcs9h4p: #00a294;
  --colors-cyan800__1ngcs9h4q: #00867b;
  --colors-cyan900__1ngcs9h4r: #006159;
  --colors-white__1ngcs9h4s: #fdfefe;
  --colors-primary__1ngcs9h4t: #0077cc;
  --colors-primaryLight__1ngcs9h4u: #a5cfed;
  --colors-primaryDark__1ngcs9h4v: #005da0;
  --colors-secondary__1ngcs9h4w: #00cc55;
  --colors-secondaryLight__1ngcs9h4x: #a2ecc1;
  --colors-secondaryDark__1ngcs9h4y: #00a243;
  --colors-tertiary__1ngcs9h4z: #5500cc;
  --colors-tertiaryLight__1ngcs9h50: #ceb6f0;
  --colors-tertiaryDark__1ngcs9h51: #4300a1;
  --colors-disabledBg__1ngcs9h52: #dee1e3;
  --colors-disabledFill__1ngcs9h53: #acb4b9;
  --focusShadow__1ngcs9h54: 0 0 4px 2px #005da0;
}