.env
/coverage/
node_modules
dist
yarn-error.log
.DS_Store
example/build
sandbox/.next
compiled.css
compiled.js

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn/install-state.gz
